[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==6.6"
gunicorn = "==19.6.0"
itsdangerous = "==0.24"
Flask = "==0.11.1"
Flask-Script = "==2.0.5"
Jinja2 = "==2.8"
MarkupSafe = "==0.23"
Pillow = ">=3.3.2"
Werkzeug = "==0.11.10"

[requires]
python_version = "3.7"
