{% extends 'base.html' %}
{% block title %}
    {{ super() }} | SUCCESS
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="page-header">
                <h1>ASCII-Image</h1>
                <a href="{{ url_for('upload') }}" class="btn btn-primary">
                    Upload another one!
                </a>
            </div>
            <pre id="ascii">{{ asciimage_str }}</pre>
        </div>
    </div>
{% endblock%}
