{% extends 'base.html' %}
{% block title %}
    {{ super() }} | SUCCESS
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div style="margin-bottom:30px;">
                <h1>ASCII-Image</h1>
                <a href="{{ url_for('upload') }}" class="btn btn-default">
                    Upload another one!
                </a>
            </div>
            {% if asciimage_str %}
            <pre class="ascii">{{ asciimage_str }}</pre>
            {% elif asciimage_strings %}
                {% for string in asciimage_strings %}
                    <pre id="{{ loop.index }}" class="ascii"
                        {% if loop.index > 0 %}
                        style="display: none"
                        {% endif %}>{{ string }}</pre>
              {% endfor %}
              <script>
                var id = 1;
                setInterval(function() {
                  document.getElementById(id.toString()).style.display = 'none';
                  id = id + 1;
                  if (id > {{ asciimage_strings | length }}) id = 1;
                  console.log(id)
                  document.getElementById(id.toString()).style.display = 'block';
                }, 90);
              </script>
            {% endif %}
        </div>
    </div>
{% endblock%}
