{% extends 'base.html' %}
{% block title %}
    {{ super() }} | SUCCESS
{% endblock %}

{% block head %}
<style type="text/css" media="all">
    pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        font-family: monospace;
        line-height: 1.0;
        font-size: 7px;
    }
</style>
{% endblock %}

{% block content %}
    <h1>ASCIIMAGE</h1>
    <h4><a href="{{ url_for('upload') }}">Upload another one!</a></h4>
    <pre>{{ asciimage_str }}</pre>
{% endblock%}
