<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="shortcut icon" type="image/png"
              href="/static/favicon.png" />
        <title>
        {% block title %}
            ASCII-Image
        {% endblock %}
        </title>
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/styles.css">
        {% block extra_css %}
        {% endblock %}        
        <style>
            body {
                background-color: #333;
                color: #fff;
            }
        </style>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
