{% extends 'base.html' %}

{% block title %}
    {{ super() }} | Upload
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1>Upload Image</h1>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages%}
                <div class="alert alert-warning" role="alert">
                    <p>
                        <span class="glyphicon glyphicon-warning-sign"
                        aria-hidden="true"></span> {{ message }}
                    </p>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST" action="{{ url_for('save_image') }}"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="photo">Image</label>
                    <input type="file" name="photo">
                    <p class="help-block">
                        Supported file types: jpg, jpeg, gif<br>
                        File Size Limit: 4Mb
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
